body{
  margin:0;
  background:darkgray;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;

}

button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px;
  cursor: pointer;
}

#carCanvas{
  background: lightgray;
}

#networkCanvas{
  background: black;
}